Repository growupanand/ConvoForm, pull requests merged in 2024-06, with the labels that each got.

#263 In form editor, After remove a form field I can undo this remove Fixed
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/formEditorCard.tsx
Labels: story, frontend, gssoc, level2

#282 [Feat]: Created Issue forms and made the issue options more visually appealing
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_update.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/GSSoC_workflow.yml
  .github/workflows/comment_on_merge.yml
Labels: Infrastructure, gssoc, level1

#288 Fix related to workflow
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_update.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/infrastructure_work.yml
  .github/workflows/GSSoC_workflow.yml
  .github/workflows/comment_on_merge.yml
Labels: Infrastructure, gssoc, level1

#294 293 in db schema add input type field for the table formfield
  .vscode/settings.json
  apps/web/src/app/(protectedPage)/(mainPage)/workspaces/[workspaceId]/_component/createFormButton.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/formEditorCard.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/conversations/_components/conversationDetail.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/conversations/_components/transcriptCard.tsx
  apps/web/src/app/api/ai/generateForm/route.ts
  apps/web/src/app/api/form/[formId]/conversation/route.ts
  apps/web/src/lib/services/conversation.ts
  apps/web/src/lib/services/systemPrompt.ts
  apps/web/src/lib/types/transcript.ts
  packages/api/src/router/form.ts
  packages/db/drizzle/migrations/0012_abnormal_skullbuster.sql
  packages/db/drizzle/migrations/0013_optimal_toad.sql
  packages/db/drizzle/migrations/meta/0012_snapshot.json
  packages/db/drizzle/migrations/meta/0013_snapshot.json
  packages/db/drizzle/migrations/meta/_journal.json
  packages/db/src/schema/base.ts
  packages/db/src/schema/conversations/conversation.ts
  packages/db/src/schema/conversations/validation.ts
  packages/db/src/schema/formFields/formField.ts
  packages/db/src/schema/formFields/validation.ts
  packages/db/src/schema/forms/form.ts
  packages/db/src/schema/organizationMembers/organizationMember.ts
  packages/db/src/schema/organizations/organization.ts
  packages/db/src/schema/users/user.ts
  packages/db/src/schema/workspaces/workspace.ts
  packages/db/src/script.ts
  packages/react/src/hooks/useConvoForm.ts
  packages/react/src/types.ts
  packages/react/src/utils/streamUtils.ts
Labels: frontend, backend, Database schema

#300 296 as a creator i can edit form fields name description and input type
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/addFieldItem.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/editFieldItem.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/editFieldSheet.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/index.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/formEditorCard.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/page.tsx
  apps/web/src/app/api/form/[formId]/getNextFormField/route.ts
  apps/web/src/lib/services/generateFormField.ts
  apps/web/src/lib/services/systemPrompt.ts
  packages/api/src/router/form.ts
  packages/api/src/router/formField.ts
  packages/api/src/router/root.ts
  packages/db/src/schema/formFields/constants.ts
  packages/db/src/schema/formFields/formField.ts
  packages/db/src/schema/formFields/index.ts
  packages/db/src/schema/formFields/validation.ts
  packages/db/src/schema/forms/validation.ts
  packages/ui/package.json
  packages/ui/src/components/ui/select.tsx
  pnpm-lock.yaml
Labels: frontend, backend

#303 chore: 🤖 Added Input type selector in Edit Field Sheet
  apps/web/src/app/(protectedPage)/(mainPage)/workspaces/[workspaceId]/_component/createFormButton.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/addFieldItem.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/editFieldSheet.tsx
  packages/api/src/router/form.ts
  packages/db/drizzle/migrations/0014_nifty_stephen_strange.sql
  packages/db/drizzle/migrations/meta/0014_snapshot.json
  packages/db/drizzle/migrations/meta/_journal.json
  packages/db/src/schema/conversations/validation.ts
  packages/db/src/schema/formFields/constants.ts
  packages/db/src/schema/formFields/formField.ts
  packages/db/src/schema/formFields/validation.ts
Labels: frontend, Database schema

#306 feat: 🚀 Added Input Configuration editor in Edit Field Sheet
  .vscode/settings.json
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/editFieldSheet.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/inputConfigurationEditor/index.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/inputConfigurationEditor/multiChoiceInputConfiguration.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/inputConfigurationEditor/textInputConfigurationEditor.tsx
  apps/web/src/app/api/form/[formId]/conversation/_utils.ts
  apps/web/src/app/api/form/[formId]/conversation/route.ts
  apps/web/src/components/formViewer/FormFieldsViewer.tsx
  apps/web/src/components/formViewer/formViewer.tsx
  packages/db/src/schema/conversations/validation.ts
  packages/db/src/schema/formFields/validation.ts
  packages/db/src/schema/forms/form.ts
Labels: story, frontend, backend

#307 feat: 🚀 Added Multi choices Input type editor
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/editFieldSheet.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/inputConfigurationEditor/index.tsx
  apps/web/src/app/(protectedPage)/forms/[formId]/_components/formEditor/fieldsEditorCard/inputConfigurationEditor/multiChoiceInputConfiguration.tsx
  packages/db/src/schema/formFields/validation.ts
  packages/ui/src/components/ui/form.tsx
Labels: story, frontend
